<h1 class="c1">{{ title }}</h1>

<div *ngIf="success_msg; then updated_msg; else error_msg" style="background-color: aquamarine;">
    user added successfully
</div>

<ng-template #updated_msg>
    user was updated
</ng-template>

<ng-template #error_msg>
    user was not added
</ng-template>

<h2>Learning ngFor</h2>

<ul>
    <li *ngFor="let contact of contacts; index as i,first as fst; last as l">
        <div *ngIf="fst" style="background-color: lightgreen;">this is first record</div>
        <div>
        {{ i }} {{ contact.firstName }} {{contact.lastName }}
        </div>
        <div *ngIf="l" style="background-color: lightyellow;">this is last record</div>
    </li>
</ul>
<p>New Table with Even add Odd</p>
<ul>
    <li *ngFor="let contact of contacts; even as e; odd as o">

        <div *ngIf="e" style="background-color: #ddd;">
            {{ i }} {{ contact.firstName }} {{contact.lastName }}
        </div>
        <div *ngIf="o" style="background-color: #ffffcc;">
            {{ i }} {{ contact.firstname }} {{ contact.lastName }}
        </div>
    </li>
</ul>

<h4>Learning ngSwitch</h4>

<div [ngSwitch] ="superPower">
    <div *ngSwitchCase="'wonderWomen'">Display Wonder women super powers</div>
    <div *ngSwitchCase="'superMan'">Display Super Man super powers</div>
    <div *ngSwitchCase="'heMan'">Display He Man super powers</div>
    <div *ngSwitchCase="'SpiderMan'">Display Spiderman super powers</div>
    <div *ngSwitchDefault>Super power is in learning</div>
</div>

<div [ngSwitch] ="tax">
    <div *ngSwitchCase="10">Display tax is 10</div>
    <div *ngSwitchCase="30">Display tax is 30</div>
    <div *ngSwitchDefault>Display tax is 50%</div>
</div>



<router-outlet></router-outlet>